.pizza-container {
	box-sizing: border-box;

	background-color: white;

	box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);

	border-radius: 10px;
	border: 3px solid lightgray;

	margin: 50px 0;
	padding: 10px 20px;
}

.pizza-container__h2 {
	margin-bottom: 10px;
}

.pizza-container__p--desc {
	font-size: 130%;
}

.pizza-container__p--price {
	font-size: 150%;
	font-weight: 300;
}
