.food-container {
	display: flex;
	justify-content: center;

	max-width: 800px;

	padding: 0 15px;
	margin: 70px auto 80px;
}

.food-container__ul {
	list-style: none;
	margin-bottom: 20px;
	padding: 0;
}
